{# templates/login_form.html #}

{% extends "base.html" %}

{% block content %}
    <h3>Вход</h3>

    <form method="post">
        {% if error %}
            <div style="color: red">Неверный пароль</div>
        {% endif %}

        <div class="form-group">
            <label for="password">Пароль</label>
            <input required minlength="8" type="password" class="form-control" name="password" id="password" placeholder="Введите пароль">
        </div>

        <button type="submit" class="btn btn-primary pull-right">Войти</button>
    </form>
{% endblock content %}
