{# templates/main.html #}

{% extends "base.html" %}

{% block content %}
    <a href="{{ host }}/{{ user_id }}/add-habit"><button type="button" class="btn btn-success">Добавить цель</button></a>
    <button type="button" class="btn btn-primary pull-right">Выполненные цели</button>
    <h3>Список текущих целей</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Цель</th>
                <th>Осталось дней</th>
                <th>Следующее напоминание</th>
            </tr>
        </thead>
        <tbody>
            {% for habit in habits %}
                <tr>
                    <td>{{ habit.title }}</td>
                    <td>{{ habit.days_left }}</td>
                    <td>{{ habit.alert_date }} {{ habit.alert_time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
